pre {
     margin: 0; 
     font-size: inherit; 
     line-height: inherit; 
     color: inherit; 
     word-break: inherit; 
     word-wrap: inherit; 
     background-color: inherit; 
     border: inherit; 
     border-radius: inherit; 
	}


/*Intro_section*/

#intro_section{background-color: lightblue;
	color: navy;
	text-align: center;}


/*Image*/

img{display: block;
	margin-left: auto;
	margin-right: auto;}


/*General body layout*/

h2{text-align: center;}

p{display: none;
	text-align: center}


/*Havana*/

#Havana{background-color: navy}

#Havana h1{text-align: center;
	color: white;}

#Havana h2{display: none;
	color: white;}

#Havana p{color: white;}

#Havana h3{display: none;
	text-align: center;
	color: white;
	}


/*Vinales*/

#Vinales{background-color: lightblue}

#Vinales h1{text-align: center;
	color: navy;}

#Vinales h2{display: none;
	color: navy;}

#Vinales p{color: navy;}

#Vinales h3{display: none;
	text-align: center;
	color: navy;
	}


/*Trinidad*/

#Trinidad{background-color: navy}

#Trinidad h1{text-align: center;
	color: white;}

#Trinidad h2{display: none;
	color: white;}

#Trinidad p{color: white;}

#Trinidad h3{display: none;
	text-align: center;
	color: white;
	}
