pre {
     margin: 0; 
     font-size: inherit; 
     line-height: inherit; 
     color: inherit; 
     word-break: inherit; 
     word-wrap: inherit; 
     background-color: inherit; 
     border: inherit; 
     border-radius: inherit; 
	}




img{display: block;
	margin-left: auto;
	margin-right: auto;}


#intro_section
	
	{background-color: lightblue;
	color: navy;
	text-align: center;}



#Havana

	{background-color: navy}

#Havana h1{text-align: center;
	color: white;}

#Vinales
	
	{background-color: lightblue}

#Vinales h1{text-align: center;
	color: navy;}

#Trinidad

	{background-color: navy}

#Trinidad h1{text-align: center;
	color: white;}

